.order-item {
  margin-bottom: 1rem;
}
.panel{
  &-header{
    width: 30%;
  }
  &-body{
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 70%;
    padding: 5px;
  }
}