<div fxLayout="row" fxLayoutAlign="center space-between" fxLayoutGap="1rem">
  <a routerLink="/"><img class="logo zoom-in-zoom-out" src="/assets/logo.png" alt="gradient-logo"></a>
  <div fxLayout="row" fxLayoutAlign="center center">
    <a href="mailto:gradientprint@ukr.net?subject=Feedback&body=Message" class="app-a">
      <mat-icon> email</mat-icon>
      gradientprint@ukr.net
    </a>
    <a [href]="constants.PHONE_NUMBER_PLACEHOLDER" class="app-a">
      <mat-icon> call</mat-icon>
      {{ constants.PHONE_NUMBER_PLACEHOLDER }}
    </a>

    <a (click)="mapLink()" target="_blank" class="app-a">
      <mat-icon> location_on</mat-icon>
      {{ constants.ADDRESS }}
    </a>

    <button mat-raised-button (click)="onLogin()">Увійти/Зареєструватися</button>

  </div>
</div>
