<div class="form" fxLayout="column" fxLayoutAlign="space-between space-between">

  <h1>Профіль користувача</h1>

  <form
    autocomplete="off"
    novalidate
    fxLayout="column"
    fxLayoutAlign="space-between space-between"
    [formGroup]="profileFormGroup"
  >
    <mat-form-field>
      <mat-label>Ваше ім'я</mat-label>
      <input matInput type="text" formControlName="fullName">
    </mat-form-field>
    <app-validation [control]="profileFormGroup.controls.fullName"></app-validation>

    <mat-form-field>
      <mat-label>Компанія</mat-label>
      <input matInput type="text" formControlName="company">
    </mat-form-field>
    <app-validation [control]="profileFormGroup.controls.company"></app-validation>

    <mat-form-field>
      <span matPrefix>+38 &nbsp;</span>
      <mat-label>Номер телефону</mat-label>
      <input
        type="tel"
        appDigitOnly
        matInput
        maxlength="9"
        formControlName="phone"
        placeholder="555-555-1234">
    </mat-form-field>
    <app-validation [control]="profileFormGroup.controls.phone"></app-validation>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="example@google.com">
    </mat-form-field>
    <app-validation
      [control]="profileFormGroup.controls.email"
      [patternError]="ValidationPatterns.EMAIL_PATTERN"></app-validation>
  </form>

  <div fxLayout="row" fxLayoutAlign="end center">
    <button
      mat-raised-button
      type="submit"
      [disabled]="!isSaveEnabled"
      (click)="onSave()">
      {{ user ? 'Змінити' : 'Зберегти' }}
    </button>
  </div>

</div>
