<mat-list role="list">
  <mat-list-item role="listitem">
    &#x2022; Формат файлів: TIFF, EPS
  </mat-list-item>
  <mat-list-item role="listitem">
    &#x2022; Растрова графіка в натуральному розмірі (1:1)
  </mat-list-item>
  <mat-list-item role="listitem">
    &#x2022; Роздільна здатність: 72 dpi
  </mat-list-item>
  <mat-list-item role="listitem">
    &#x2022; Колірна модель: CMYK
  </mat-list-item>
  <mat-list-item role="listitem">
    &#x2022; Для TIFF-файлів - звести всі шари в один і при збереженні вибирати ZIP або LZW стиснення
  </mat-list-item>
</mat-list>
