<mat-accordion>
  <!--  Product list-->
  <ng-container *ngTemplateOutlet="expensionPanelTmpl; context: { title: 'Види продукції', items: productList }">
  </ng-container>
  <mat-divider></mat-divider>

  <!--  Service list-->
  <ng-container *ngTemplateOutlet="expensionPanelTmpl; context: { title: 'Послуги', items: serviceList }">
  </ng-container>
  <mat-divider></mat-divider>

  <!--  Product list-->
  <ng-container *ngTemplateOutlet="expensionPanelTmpl; context: { title: 'Типи матеріалів', items: materialList }">
  </ng-container>
</mat-accordion>


<ng-template #expensionPanelTmpl let-title="title" let-items="items">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{title}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list role="itemList" class="catalog">
      <mat-list-item role="item" *ngFor="let item of items;">
        <p>{{ item.title }}</p>
        <p class="detail" *ngFor="let detail of item.details">&#x2022; {{detail}}</p>
      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</ng-template>
