<div class="form" fxLayout="column" fxLayoutAlign="space-between space-between">

  <h1>Зареєструватися</h1>

  <form
    autocomplete="off"
    novalidate
    fxLayout="column"
    fxLayoutAlign="space-between space-between"
    [formGroup]="registrationFormGroup"
    (keyup.enter)="onSubmit()"
  >
    <mat-form-field>
      <mat-label>Ваше ім'я</mat-label>
      <input matInput type="text" formControlName="fullName">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Компанія</mat-label>
      <input matInput type="text" formControlName="company">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Номер телефону</mat-label>
      <span matPrefix>+380 &nbsp;</span>
      <input type="tel" matInput formControlName="phone" placeholder="555-555-1234">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="example@google.com">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Введіть пароль</mat-label>
      <input matInput formControlName="password" [type]="isPasswordHidden ? 'password' : 'text'">
      <button
        mat-icon-button
        matSuffix
        (click)="isPasswordHidden = !isPasswordHidden"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isPasswordHidden">
        <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Підтвердіть пароль</mat-label>
      <input matInput formControlName="repeatPassword" [type]="isRepeatPasswordHidden ? 'password' : 'text'">
      <button
        mat-icon-button
        matSuffix
        (click)="isRepeatPasswordHidden = !isRepeatPasswordHidden"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isRepeatPasswordHidden">
        <mat-icon>{{isRepeatPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <div *ngIf="registrationFormGroup.hasError('repeat')">Пароль не співпадає</div>
  </form>

  <div fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button type="submit" (click)="onSubmit()">Зареєструватися</button>
  </div>

</div>



