<div class="form" fxLayout="column" fxLayoutAlign="space-between space-between">

  <h1>Зареєструватися</h1>

  <form
    autocomplete="off"
    novalidate
    fxLayout="column"
    fxLayoutAlign="space-between space-between"
    [formGroup]="registrationFormGroup"
    (keyup.enter)="onSubmit()"
  >
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="example@google.com">
    </mat-form-field>
    <app-validation [control]="registrationFormGroup.controls.email"
                    [patternError]="ValidationPatterns.EMAIL_PATTERN"></app-validation>

    <mat-form-field>
      <mat-label>Введіть пароль</mat-label>
      <input
        matInput
        formControlName="password"
        [type]="isPasswordHidden ? 'password' : 'text'">
      <button
        mat-icon-button
        matSuffix
        (click)="isPasswordHidden = !isPasswordHidden"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isPasswordHidden">
        <mat-icon>{{isPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <app-validation [control]="registrationFormGroup.controls.password"
                    [patternError]="ValidationPatterns.PASSWORD_PATTERN"></app-validation>

    <mat-form-field>
      <mat-label>Підтвердіть пароль</mat-label>
      <input matInput formControlName="repeatPassword" [type]="isRepeatPasswordHidden ? 'password' : 'text'">
      <button
        mat-icon-button
        matSuffix
        (click)="isRepeatPasswordHidden = !isRepeatPasswordHidden"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="isRepeatPasswordHidden">
        <mat-icon>{{isRepeatPasswordHidden ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <app-validation
      [control]="registrationFormGroup.controls.repeatPassword"
      [patternError]="ValidationPatterns.PASSWORD_PATTERN">
    </app-validation>
    <span *ngIf="registrationFormGroup.hasError('repeatPassword')" class="error">
      {{ValidationPatterns.REPEAT_PASSWORD}}
    </span>
  </form>

  <div fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button type="submit" (click)="onSubmit()">Зареєструватися</button>
  </div>
</div>



