<mat-list role="list">
  <h3 fxLayout="row" fxLayoutAlign="center center">Оплата</h3>
  <mat-list-item role="listitem">Оплата готової продукції або розміщення рекламних матеріалів здійснюється за
    банківськими реквізитами компанії з особистого рахунку контрагента на основі встановленого рахунку та за встановлені
    строки оплати.
  </mat-list-item>
  <br>
  <mat-list-item role="listitem">Надання послуг або виготовлення продукції надається за попередньою передоплатою. В разі
    домовленості оплата може бути відтермінована на деякий термін.
  </mat-list-item>
</mat-list>

<mat-divider></mat-divider>

<mat-list role="list">
  <h3 fxLayout="row" fxLayoutAlign="center center">Доставка готової продукції:</h3>
  <mat-list-item role="listitem">&#x2022; Відправка Новою Поштою по всій Україні (за рахунок отримувача)</mat-list-item>
  <mat-list-item role="listitem">&#x2022; Замовлення доставки кур’єром (за рахунок отримувача)</mat-list-item>
  <mat-list-item role="listitem">&#x2022; Самовивіз за адресою компанії.</mat-list-item>
</mat-list>

