@import "../mixins";

.app-a {
  vertical-align: center;
  color: $primary;
  transition: 0.25s;
  cursor: pointer;
  margin-right: 1em;
  align-items: center;
  display: flex;

  &:hover {
    color: $primary-dark;
  }

  &_active {
    @include active-link;
  }
}

.nav {
  .app-a_active {
    @include active-link;
    border-bottom: 2px solid $primary-dark;
    opacity: 1;
  }
}
